<header class="site-header">
    <section class="page-header"
        <h1 class="project-name">{{site.info.projectname}}</h1>
        <h2 class="project-tagline">{{site.info.tagline}}</h2>
      <a href="https://github.com/{{site.info.username}}/{{site.info.projectname}}" class="btn">View on GitHub</a>
      <a href="https://github.com/{{site.info.username}}/{{site.info.projectname}}/zipball/{{site.info.branchname}}" class="btn">Download .zip</a>
      <a href="https://github.com/{{site.info.username}}/{{site.info.projectname}}/tarball/{{site.info.branchname}}" class="btn">Download .tar.gz</a>
    </section>
</header>
